# torch with cuda support is strongly recommended to be installed from the official website: https://pytorch.org/get-started/locally/
albumentations
onnx
opencv-python
torch
pytorch-lightning
torch-pruning
torchmetrics
segmentation-models-pytorch
wandb
